html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-size-1 {
  width: 29.27px;
  width: 29.27px;
}

.img-size-2 {
  width: 32px;
  height: 32px;
}

.img-size-3 {
  width: 107px;
  height: 107px;
}

.img-size-4 {
  width: 128px;
  height: 128px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.space-around-1 {
  padding: 1px 5px 1px 5px;
}

.space-around-2 {
  padding: 1px 10px 1px 10px;
}

.space-near-20 {
  padding: 1px 16px 1px 16px;
}

.space-around-2 {
  padding: 1px 10px 1px 10px;
}

.custom-container {
  margin: 0 13%;
  max-width: 1280px;
  width: 90%;
}

.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
}

.menu-container-center {
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.font-promary {
  font-family: DB Heavent;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #E79E00;
  text-align: center;
}

.footer-container {
  background: url('/static/images/footer_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  /* height: 75vh; */
  min-height: 260px;
  position: relative;
  display: flex;
}

.footer-padding {
  padding: 20px;
}